<div class="bg-gray-800">
  <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}" class="w-full">
  <div class="container mx-auto py-8">
    <h1 class="text-4xl font-bold text-white text-center mb-4">{{ collection.title }}</h1>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "id": "show_collection_description",
      "type": "checkbox",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "id": "show_collection_image",
      "type": "checkbox",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}


