.facets__selected {
  display: none;
}
.collection-filters {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .collection-filters {
      display: block;
  }
  .collection-filters > * + * {
      margin-top: 0;
      margin-left: 2rem;
  }
}
.collection-filters__label {
  display: block;
  color: var(--color-base-text-opacity-85-percent);
  font-size: 1.1rem;
  line-height: 1;
  margin: 0 0 1rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.collection-filters__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  cursor: pointer;
  height: 4.5rem;
  padding: 0 1.5rem;
  min-width: 25rem;
  margin-top: 2.4rem;
  border: 0.1rem solid var(--color-base-text-opacity-55-percent);
}
.collection-filters__summary:after {
  position: static;
}
.collection-filters__item {
  display: flex;
  grid-column: 2;
  grid-row: 1;
}
.collection-filters__field {
  flex-grow: 1;
}
.collection-filters__item button {
  padding: 1.4rem 2.6rem;
  margin-left: 1rem;
}
.collection-filters__disclosure {
  min-width: 25rem;
}
.collection-filters__disclosure summary:after {
  top: 0;
}
.collection-filters__disclosure a {
  color: var(--color-foreground);
  cursor: pointer;
  display: block;
  padding: 1.2rem;
  text-transform: capitalize;
  text-decoration: none;
}
@media screen and (min-width: 750px) {
  .collection-filters .collection-filters__sort {
      width: 25rem;
      max-width: 100%;
  }
}
.collection-filters__item.sorting select {
  width: 100%;
}
.facets {
  display: block;
}
.facets__heading {
  display: block;
  color: var(--color-base-text-opacity-85-percent);
  font-size: 1.1rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
}
.facets__reset {
  margin-left: auto;
}
.facets__disclosure {
  border: 1px solid var(--color-foreground-55);
  margin: 0 0 0.5rem 0.5rem;
  transition: box-shadow var(--duration-short) ease;
}
.facets__disclosure:hover {
  box-shadow: 0 0 0 0.1rem var(--color-foreground-55);
}

.facets__summary span {
  text-transform: uppercase;
}

.facets__header {
  position: absolute;
  top: -24px;
  right: 22px;
  border-bottom: 1px solid var(--color-foreground-20);
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  background-color: var(--color-background);
  z-index: 1;
}
.facets__list {
  padding: 0.5rem 0.5rem;
}
.facets__item {
  display: flex;
  align-items: center;
}
.facets__item label,
.facets__item input[type="checkbox"] {
  cursor: pointer;
}
.facet-checkbox {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  word-break: break-word;
}
.facet-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 1;
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: 0.8rem;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}
.facet-checkbox > svg {
  background-color: var(--color-background);
  margin-right: .5rem;
  flex-shrink: 0;
}
.facet-checkbox .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: .2rem;
  z-index: 5;
  top: .4rem;
}
.facet-checkbox > input[type="checkbox"]:checked ~ .icon-checkmark {
  visibility: visible;
}
.facet-checkbox--disabled {
  color: var(--color-foreground-40);
}
.facets__price {
  display: flex;
  padding: 0;
}
.facets__price >div {
  display: flex;
  width: 50%;
  margin: 0;
}
.facets__price > * + * {
  margin-left: 2rem;
}
.facets__price .field {
  align-items: center;
}
.facets__price .field .field__currency {
  margin-right: 0.2rem;
}
.facets__price .field__label {
  left: 2.1rem;
}
button.facets__button {
  min-height: 0;
  margin: 0 0 0 0.5rem;
  box-shadow: none;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}
.active-facets {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: -1rem;
  grid-column: 1 / span 2;
  grid-row: 2;
}
a.active-facets__button {
  color: var(--color-foreground);
  box-shadow: 0 0 0 0.1rem var(--color-foreground);
  border-radius: 2.6rem;
  font-size: 1.2rem;
  min-height: 0;
  min-width: 0;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 1rem;
}
a.active-facets__button {
  box-shadow: 0 0 0 0.1rem var(--color-foreground);
}
a.active-facets__button:hover {
  box-shadow: 0 0 0 0.2rem var(--color-foreground);
}
a.active-facets__button--light {
  box-shadow: 0 0 0 0.1rem var(--color-foreground-20);
}
a.active-facets__button--light:hover {
  box-shadow: 0 0 0 0.2rem var(--color-foreground-40);
}
a.active-facets__button:focus-visible,
a.active-facets__button:focus {
  box-shadow: 0 0 0 0.1rem var(--color-foreground-20), 0 0 0 0.2rem var(--color-background), 0 0 0 0.4rem var(--color-foreground);
  outline: none;
}
.active-facets__button svg {
  width: 1.4rem;
  margin-left: 0.6rem;
  pointer-events: none;
}
.active-facets__button:only-child {
  display: none;
}
.active-facets__button.disabled,
.mobile-facets__clear.disabled {
  pointer-events: none;
}
@media all and (min-width: 750px) {
  .active-facets-mobile {
      display: none;
  }
}
.count-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-color: var(--color-button-border);
  color: var(--color-background);
  margin-left: 0.7rem;
}
.count-bubble:empty {
  visibility: hidden;
}
.count-bubble--dot:empty {
  visibility: visible;
}
.count-bubble--dot:before {
  content: "";
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  background-color: var(--color-background);
  border-radius: 50%;
}

details[open] .facets__display {
  display: block;
}