@tailwind base;
@tailwind components;
@tailwind utilities;

.main-menu-list .mega-menu-dropdwon {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
  z-index: 999;
}
.main-menu-list >.active .mega-menu-dropdwon {
  opacity: 1;
  visibility: visible;
}
.visually-hidden {
  position: absolute!important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal!important;
}